#character{
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#character h2{
  text-transform: uppercase;
  font-size: 70px;
  padding: 80px;
}
.character-inner{
  position: relative;
  width: 1300px;
  height: 1000px;
  display: flex;
  margin: 150px auto 0 auto;
}
.character-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.character-box.active{
  opacity: 1;
}
.character-box.exit-left{
  opacity: 0;
}
.box-txt{
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.box-txt-left{margin-left: 100px;}
.box-txt-left h3{
  font-size: 100px;
  color: #B30016;
}
.box-txt-left p{
  font-family: 'Giants';
  font-size: 25px;
  color: #B30016;
}
.box-txt-right b{
  font-size: 50px;
}
.box-txt-right p{
  font-family: 'Noto Sans KR', sans-serif; 
  font-size: 20px;
}
.box-img img{
  width: 1300px;
  height: 1000px;
}
.character-thumb{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 10px 20px;
  margin: auto;
  width: fit-content;
}
.character-thumb img{
  width: 100px;
  height: 120px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
}
.character-thumb img:hover{
  background: rgba(0,0,0,0.7);
  border: 1px solid #B30016;
}
