#goods{
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#goods h2{
  text-transform: uppercase;
  font-size: 70px;
  padding: 80px;
}
.goods-inner{
  position: relative;
  width: 1400px;
  height: 2000px;
  margin: auto;
}
.goodsline{
  display: flex;
  width: inherit;
  height: inherit;
}
.line{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.goods-img{
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: #000;
}
.goods-img img{
  width: 400px;
  height: 400px; 
  opacity: 0.5;
}
.goods-img img:hover{
  opacity: 1;
}
.line .goods-txt{
  font-family: 'Giants';
  display: flex;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 60px;
  margin-top: -5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  z-index: 0;
}
.goods-txt p{
  font-size: 15px;
  padding-left: 10px;
}
.line .goods-txt:before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FDD600;
  transition: left 0.1s ease;
  z-index: -1;
}

/* hover효과 */
.line .goods-img:hover .goods-txt:before{
  animation: sweep 0.3s linear forwards;
}

/* 애니메이션 효과 */
@keyframes sweep{
  0%   {left: -100%;}
  50%  {left: 0;}
  100% {left: 100%;}
}

/* modal 창 */
.modal5{
	display:none; 
	position:absolute;
  top: 0;
  left: 0;
	width:1400px; 
	height:2000px; 
	background:rgba(0,0,0,0.8); 
	z-index:1000;
  border: 1px solid #B30016
}
.modalBox{
	position: relative;
	max-width: 1400px;
	min-height: 100%;
	margin: auto;
}
.modal-content5{
  position: absolute;
  font-size: 30px;
  color: #fff;
  display:flex;
  width: 1400px;
  margin: 50px 0 0 50px;
}
.modal-content-in{
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1200px;
}
.modal-content-in img{
  width: 600px;
  height: 600px;
}
.modal-content-in p{
  font-family: 'Noto Sans KR', sans-serif; 
  font-size:20px;
  text-align: center;
  position: absolute;
  width: 600px;
  top: 10%;
  left: 55%;
}
.modal-content-in a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 72%;
  width: 200px;
  height: 60px;
  background-color: #B30016;
  overflow: hidden;
  z-index: 0;
}
.modal-content-in a:before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  transition: left 0.1s ease;
  z-index: -1;
}
.modal-content-in a:hover:before{
  animation: sweep 0.3s linear forwards;
}
.modal-btn5{
	position:absolute;
	right: 50px;
	top:30px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:2000;
}
.modal-btn5 i{cursor: pointer;}
.close5{
	border-bottom:1px solid #fff;
	padding-bottom: 10px;
}
.close5 i{font-size: 32px;}
.lr-btn{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.lr-btn i{font-size: 28px;}
.page-num{ 
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}