#staffcast{
  background-image: url(../image/sfaffcast.bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#staffcast h2{
  text-transform: uppercase;
  font-size: 70px;
  margin: 200px 0 70px;
  text-align: left;
}
.total{
  width: 1400px;
  display: flex;
  justify-content: center;
}
.staffs,
.casts{
  width: 550px;
  max-width: 100%;
  height: 1920px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.staffs h2,
.casts h2{border-bottom: 3px solid #000;}

.casts{margin-left: 150px;}

.staff,
.cast{
  display: flex;
  margin: 15px 0 0 40px;
}
.staff a img,
.cast a img{
  width: 35px;
  height: 35px;
  margin-top: 7px;
  position: absolute;
  left: 0%;
}
.staff b,
.cast b{
  position: relative;
  background-color: #B30016;
  color: #FDD600;
  font-size: 22px;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}
.staff p,
.cast p{
  background-color: #fff;
  color: #000;
  font-size: 22px;
  padding: 10px;
  
}
.staff b:before,
.cast b:before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  transition: left 0.1s ease;
  z-index: -1;
}
.staff b:hover:before,
.cast b:hover:before{
  animation: sweep 0.3s linear forwards;
}

.modal2{
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal2 img{
  display: block;
}

.close2{
  position: absolute;
  top: 50px; 
  right: 100px;
  font-size: 50px;
  color: #000;
  cursor: pointer;
}